* {
    margin: 0;
    padding: 0;
}

header {
    font: bold 26px Arial, Helvetica, sans-serif;
    background: #333;
    text-align: center;
    color: #c00;
    text-transform: uppercase;
}

section p {
    font: bold 24px/150% Arial, Helvetica, sans-serif;
    background: #ccc;
    border: #999 2px solid;
    color: #666;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}

#timer{
    text-align: center;
}

#restart{
    display: none;
}

.right {
    background: #0c0;
    text-align: center;
    border: #090 2px solid;
    color: #060;
}
.wrong {
    background: #c00;
    text-align: center;
    border: #900 2px solid;
    color: #600;
}

body{
    width: 400px;
    margin: 0 auto;
    background: #fff;
    height:100vh;
}
html{
    background: #444;
}

input, button {
    font: bold 24px/150% Arial, Helvetica, sans-serif;
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
}

